.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2a4b93;
  min-height: 100vh;
  display: flexbox;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(5px + 2.5vmin);
  color: rgb(244, 200, 2);
}

.sidebar {
  position: fixed;
  top: 150px;
  left: 10px;
  width: 200px;
  background-color: rgba(42, 75, 147, 0.8);
  color: rgb(23, 22, 22);
  padding: 10px;
  border-radius: 5px;
}

.corner-image {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 75px;
  height: auto;
  z-index: 1000; /* Make sure it stays on top */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
